<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.fitatu.phonegap.plugin.liveChat" version="0.0.1">

    <name>LiveChat</name>
    <description>LiveChat phonegap plugin</description>

    <engines>
        <engine name="cordova" version=">=5.0.0"/>
    </engines>

    <js-module src="www/liveChat.js" name="LiveChat">
        <clobbers target="window.plugins.liveChat" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LiveChatCordovaPlugin">
                <param name="android-package" value="com.fitatu.phonegap.plugin.liveChat.LiveChatCordovaPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.livechatinc.inappchat.ChatWindowActivity" android:configChanges="orientation|screenSize" />
        </config-file>

        <source-file src="src/android/LiveChatCordovaPlugin.java" target-dir="src/com/fitatu/phonegap/plugin/LiveChat/" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LiveChatCordovaPlugin">
                <param name="ios-package" value="LiveChatCordovaPlugin"/>
            </feature>
        </config-file>

        <js-module name="LiveChat" src="www/liveChat.js">
            <clobbers target="window.plugins.liveChat" />
        </js-module>

        <source-file src="src/ios/LiveChat/ChatView.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/JSONRequestCache.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/KeyboardNotification.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/LiveChat.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/LiveChat.h"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/LiveChatConfiguration.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/LiveChatMessage.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/LiveChatOverlayViewController.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/LiveChatState.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/LiveChatWidget.js"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/LoadingView.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/UnreadMessagesCounter.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/URLBuilder.swift"  target-dir="src"/>
        <source-file src="src/ios/LiveChat/WebViewBridge.swift"  target-dir="src"/>

        <source-file src="src/ios/LiveChatCordovaPlugin.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="3.1.1"/>
    </platform>
</plugin>